div.base {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

div.leftPanel {
    width: 15vw;
}

div.mainPanel {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70vw;
}

div.rightPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 15vw;
}

div.logo {
    margin-top: 4vw;
    margin-bottom: 1.5vw;
}

div.info {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

div.search {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1.5vw;
    margin-bottom: 6vw;
}

p.info {
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;

    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
}

p.infoFuture {
    margin-top: 0.7vw;
    margin-bottom: 0.5vw;

    font-size: 1.15vw;
    font-family: 'Montserrat', sans-serif;
}

input[type=text].search {
    border-style: solid;
    border-width: 1px;

    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;

    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

input[type=text].search:hover {
    border-style: solid;
    border-width: 1px;

    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}


input[type=text].search:focus {
    outline: none;

    border-style: solid;
    border-width: 1px;

    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

input[type=submit].search {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);

    background-color: rgb(255, 255, 255);

    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;

    padding: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;

    cursor: pointer;
}

input[type=submit].search:hover {
    background-color: rgb(0, 0, 0);

    color: rgb(255, 255, 255);
}

input[type=submit].search:focus {
    outline: none;
}

div.account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 2.5vw;
    margin-right: 2.5vw;

    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 1.9vw;
    padding-right: 1.9vw;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
}

a.account {
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;

    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);

    text-decoration-line: underline;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
}

a.account:hover, a.account:active {
    text-decoration-line: line-through;
    text-decoration-style: dashed;
}