<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">

        <title>GJHLibrary</title>
    </head>
    <body>
        <p>Helou this is GJH Library page</p>
        <p>Use search box to search books by title</p>
        <p>(Only planned feature) Click more for advanced setting</p>

        <form action="/search" method="get">
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>
    </body>
</html>
